<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/backend/fragment_meta :: meta"/>

<th:block th:replace="fragments/backend/fragment_head :: head('Home')" />

<body >
<!--
<th:block th:replace="fragments/fragment_navbar :: navbar" />-->

<div class="loader"></div>

<div id="app">
  <div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>

    <th:block th:replace="fragments/backend/fragment_navbar :: navbar" />

    <th:block th:replace="fragments/backend/fragment_dashbaord_sidebar :: dashboard_sidebar" />


    <div class="main-content">
      <section class="section">

        <ul class="breadcrumb breadcrumb-style ">
          <li class="breadcrumb-item">
            <h4 class="page-title m-b-0">Entreprises</h4>
          </li>
        </ul>

        <a th:href="@{/backend/config/company/list}" class="btn btn-primary mt-2 mb-2">Liste des entreprises</a>
        <div class="section-body">
          <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>Ajouter une entreprise</h4>
                </div>

                <form method="post" th:action="@{/backend/config/company/save}" enctype="multipart/form-data" >
                  <div class="card-body">

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Nom</label>
                        <input required type="text" class="form-control" name="name"  placeholder="Nom de l'entreprise">
                      </div>

                      <div class="form-group col-md-6">
                        <label>Site web</label>
                        <input type="text"  class="form-control" name="websitelink"  placeholder="L'adresse du site web de l'entreprise">
                      </div>

                      <div class="form-group col-md-12">
                        <label>Secteur d'activité</label>
                        <select class="form-control select2" multiple="" name="activitySector">
                          <option disabled selected value="-1">Choisissez un secteur d'activité</option>
                          <option th:each="s:${allActivitySector}" th:value="${s.id}" th:text="${s.libelle}"></option>
                        </select>
                      </div>

                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>Description</label>
                        <textarea name="description" class="summernote"></textarea>
                      </div>
                    </div>

                    <div class="form-row">

                      <div class="ml-2 col-sm-6">

                        <img  th:src="@{'/assets/backend/img/80x80.png'}" style="width: 200px;height: 200px"  id="preview" class="img-thumbnail">

                      </div>

                      <div class="ml-2 col-sm-6">
                        <div id="msg"></div>
                        <input type="file" name="file"  class="file" accept="image/*">
                        <div class="input-group my-3">
                          <input type="text" class="form-control" placeholder="Upload File" id="file">
                          <div class="input-group-append">
                            <input type="button" class="browse btn btn-primary" value="Browse" />
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                  <div class="card-footer">
                    <button class="btn btn-primary">Enregistrer</button>
                  </div>

                </form>

              </div>
            </div>

          </div>
        </div>
      </section>

      <div class="settingSidebar">
        <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
        </a>
        <div class="settingSidebar-body ps-container ps-theme-default">
          <div class=" fade show active">
            <div class="setting-panel-header">Setting Panel
            </div>
            <div class="p-15 border-bottom">
              <h6 class="font-medium m-b-10">Select Layout</h6>
              <div class="selectgroup layout-color w-50">
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                  <span class="selectgroup-button">Light</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                  <span class="selectgroup-button">Dark</span>
                </label>
              </div>
            </div>
            <div class="p-15 border-bottom">
              <h6 class="font-medium m-b-10">Sidebar Color</h6>
              <div class="selectgroup selectgroup-pills sidebar-color">
                <label class="selectgroup-item">
                  <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                  <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                        data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                  <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                        data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                </label>
              </div>
            </div>
            <div class="p-15 border-bottom">
              <h6 class="font-medium m-b-10">Color Theme</h6>
              <div class="theme-setting-options">
                <ul class="choose-theme list-unstyled mb-0">
                  <li title="white" class="active">
                    <div class="white"></div>
                  </li>
                  <li title="cyan">
                    <div class="cyan"></div>
                  </li>
                  <li title="black">
                    <div class="black"></div>
                  </li>
                  <li title="purple">
                    <div class="purple"></div>
                  </li>
                  <li title="orange">
                    <div class="orange"></div>
                  </li>
                  <li title="green">
                    <div class="green"></div>
                  </li>
                  <li title="red">
                    <div class="red"></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-15 border-bottom">
              <div class="theme-setting-options">
                <label class="m-b-0">
                  <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                         id="mini_sidebar_setting">
                  <span class="custom-switch-indicator"></span>
                  <span class="control-label p-l-10">Mini Sidebar</span>
                </label>
              </div>
            </div>
            <div class="p-15 border-bottom">
              <div class="theme-setting-options">
                <label class="m-b-0">
                  <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                         id="sticky_header_setting">
                  <span class="custom-switch-indicator"></span>
                  <span class="control-label p-l-10">Sticky Header</span>
                </label>
              </div>
            </div>
            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
              <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                <i class="fas fa-undo"></i> Restore Default
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>




  </div>
</div>

<th:block th:replace="fragments/backend/fragment_footer :: footer" />

<th:block th:replace="fragments/backend/fragment_script :: script"/>


</body>
</html>