<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a th:href="@{/}">
                                <h3 style="color:#ffffff">ADEQUAT</h3>
                                <img th:src="@{/assets/frontend/img/logo.png}" alt="logo">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut
                            labore et dolore magna. Sed eiusmod tempor incididunt ut.</p>
                        <div class="footer-social">
                            <a href="https://www.linkedin.com/in/akon-yao-christian-menzan-701ab799/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                            <!--
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>Vous êtes un Candidat ?</h3>
                        <ul>
                            <li>
                                <a th:href="@{/offer}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Rechercher des offres
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/account}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Mon compte
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/register}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    S'inscrire
                                </a>
                            </li>
                            <!--
                            <li>
                                <a th:href="@{/user_account/details_profile}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Mon CV
                                </a>
                            </li>
                            <li>
                                <a href="catagories.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Browse Categories
                                </a>
                            </li>
                            <li>
                                <a href="job-list.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Job List
                                </a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>Vous êtes un Recruteur ?</h3>
                        <ul>
                            <li>
                                <a th:href="@{/account/profile}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Mon profil
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/register}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    S'inscrire
                                </a>
                            </li>
                            <!--
                            <li>
                                <a th:href="@{/recruiter/manage_offers}">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Mes offres
                                </a>
                            </li>
                            <li>
                                <a href="catagories.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Browse Categories
                                </a>
                            </li>
                            <li>
                                <a href="job-list.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Job List
                                </a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
                <!--
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>
                                <a href="index.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="faq.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="pricing.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Pricing
                                </a>
                            </li>
                            <li>
                                <a href="privacy.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Privacy
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class='bx bx-chevrons-right bx-tada'></i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                -->
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget footer-info">
                        <h3>Information</h3>
                        <ul>
                            <li>
                                <span>
                                    <i class='bx bxs-phone'></i>
                                    Contact:
                                </span>
                                <a href="tel:0747854842">
                                    +225 0747854842
                                </a>
                            </li>
                            <li>
                                <span>
                                    <i class='bx bxs-envelope'></i>
                                    Adresse mail:
                                </span>
                                <a
                                        href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#9bf2f5fdf4dbf1f4edf2feb5f8f4f6">
                                    <span class="__cf_email__"
                                          data-cfemail="543d3a323b143e3b223d317a373b39">[email&#160;protected]</span>
                                </a>
                            </li>
                            <li>
                                <span>
                                    <i class='bx bx-location-plus'></i>
                                    Localisation:
                                </span>
                                ABIDJAN, COTE D'IVOIRE
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright-text text-center">
        <p>
            Copyright @2020 JOBTALENT. All Rights Reserved By Christian MENZAN
        </p>
    </div>


    <div class="top-btn">
        <i class='bx bx-chevrons-up bx-fade-up'></i>
    </div>

</div>