<div xmlns:th="http://www.thymeleaf.org" th:fragment="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/owl.carousel.min.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/owl.theme.default.min.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/boxicon.min.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/fonts/flaticon/flaticon.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/meanmenu.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/style.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/responsive.css}">

    <!-- For user (candidat, recruteurs, entreprise) account dashboard -->

    <link rel="stylesheet" th:href="@{/assets/frontend/css/magnific-popup.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/nice-select.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/datatables.min.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/bootstrap-multiselect.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/custom-style.css}">

    <link rel="stylesheet" th:href="@{/assets/frontend/css/first-theme.css}">

</div>